<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UserInfo</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">


  <div class="row">

<div class="col-md-4">
  <img src="assets/IMAGES/CARTOON.jpg" alt="cartoon picture" width="300">
  <h2><span>Comp</span>uter <span>Wizard</span></h2>
  <h3>RepoChecker software</h3>
  <p>This is a system that generates all <br> repositories when you input your Github username.</p> <br>
  <p>Isn't it fantastic? <br> Well, talking is cheap. I will show you my skills.</p>
</div>

<div class="col-md-4">
<form >
  <input type="text" placeholder="e.g Greyson">
  <input type="text" placeholder = "e.g Greyson Whites">
</form>
</div>
<div class="col-md-4">
  <div class="spinner-border" role="status">
    <span [hidden]="isLoading"></span>
  </div>
  <button class="btn btn-primary" (click)='getPublicRepositories ()'>Get User Info</button>
  <ul *ngFor="let repo of repositories">
    <li>
      {{repo.name}}
    </li>
  </ul>



</div>


  </div>

  <!-- <div class="container">



<div>



<div class = "repos">




</div>


 -->

</body>
</html>
